menu "WIFI CONTROLLER CONFIGURATION"

    config AP_WIFI_SSID
        string "Access Point WiFi SSID"
        default "Quick-Trigger"
        help
            SSID (network name) for the example to connect to.

    config AP_WIFI_PASSWORD
        string "Access Point WiFi Password"
        default "12345678"
        help
            WiFi password (WPA or WPA2) for the example to use.
    config AP_WIFI_CHANNEL
        int "Access Point Wifi Channel"
        default 1
        help
            Wifi Channel for AP.        
	config AP_MAX_STA_CONN
        int "Maximal STA connections"
        default 1
        help
            Max number of the STA connects to AP.
    config STA_WIFI_SSID
        string "Station WiFi SSID"
        default "stationSSID"
        help
            SSID (network name) for the trigger to connect to.

    config STA_WIFI_PASSWORD
        string "Station WiFi Password"
        default "password"
        help
            WiFi password (WPA or WPA2) for the example to use.    
    config STA_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.
	config NETWORK_SCAN_LIST_SIZE
        int "Max size of scan list"
        range 0 20
        default 10
        help
            The size of array that will be used to retrieve the list of access points.
	
endmenu
